<header class="header white-bg">
  <a class="logo"><i class="fa "></i> &nbsp;Blockchain&nbsp;<span>DataSharing</span></a>
  <div class="top-nav ">
    <ul class="nav pull-right top-menu">
      <li>
        <input type="text" class="form-control search" placeholder="&nbsp; &nbsp;&nbsp;&nbsp;Search">
      </li>
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <b class="fa fa-address-book"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <div class="log-arrow-up"></div>
          <li><a ui-sref="app2.register"><i class=" fa fa-suitcase"></i>Register</a></li>
          <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="#"><i class="fa fa-bell"></i> Notification</a></li>
          <li><a ui-sref="app2.login"><i class="fa fa-key"></i> Log In</a></li>
          <!--<li><a ui-sref="app.login"><i class="fa fa-key"></i> Log Out</a></li>-->
        </ul>
      </li>
    </ul>
  </div>
</header>
<section id="main-content">
  <div class="wrapper">
     <div ui-view='content'></div>
  </div>
  <footer class="text-center">
    <p>©️ 2017 BJUT-SSE 北工大区块链小组</p>
  </footer>
</section>
