<header class="header white-bg">
  <a class="logo"><i class="fa fa-navicon"></i> &nbsp;Data access control&nbsp;<span>based on Ethereum</span></a>
</header>

<aside id="sidebar" class="nav-collapse" toggle-menu>
  <ul class="sidebar-menu" ng-click="clickMenu()">
    <li class="active">
      <a ui-sref="app.home">
        <i class="fa fa-home"></i><span>Home</span>
      </a>
    </li>
    <li class="sub-menu">
      <a>
        <i class="fa fa-user"></i><span>Accounts</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.accountsList">Account List</a></li>
        <li><a ui-sref="app.createAccount">Create Accounts</a></li>
        <li><a ui-sref="app.getBalance">Get Balance</a></li>
        <li ng-show="auth"><a ui-sref="app.chargeAccount">Charge Account</a></li>
        <li><a ui-sref="app.registerAccounts">Register Accounts</a></li>
        <li><a ui-sref="app.registerAccountsList">Register Accounts List </a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a>
        <i class="fa fa-database"></i><span> Provider</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.provideData">Provide Data</a></li>
        <li><a ui-sref="app.provideDataList">Data List</a></li>
        <li><a ui-sref="app.provideTask">Provide Task</a></li>
        <li><a ui-sref="app.provideTaskList">Task List</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a>
        <i class="fa fa-upload"></i><span> Requester</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.requestData">Requeste Data</a></li>
        <li><a ui-sref="app.requestDataList">Data List</a></li>
        <li><a ui-sref="app.requestTask">Requeste Task</a></li>
        <li><a ui-sref="app.requestTaskList">Task List</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a><i class="fa fa-search"></i><span> Search</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.dataList">Data List</a></li>
        <li><a ui-sref="app.searchData">Search Data</a></li>
        <li><a ui-sref="app.searchDataRequest">Search Data Request</a></li>
        <li><a ui-sref="app.taskList">Task List</a></li>
        <li><a ui-sref="app.searchTask">Search Task</a></li>
        <li><a ui-sref="app.searchTaskRequest">Search Task Request</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a><i class="fa fa-group"></i><span> Managements</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.personalDataList">Personal Data List</a></li>
        <li><a ui-sref="app.personalDataControl">Provide Data control</a></li>
        <li><a ui-sref="app.personalTaskList">Personal Task List</a></li>
        <li><a ui-sref="app.personalTaskControl">Provide Task control</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a><i class="fa fa-group"></i><span> Transactions</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.searchTransByAccount">Search Transaction</a></li>
        <li><a ui-sref="app.etherTrans">Ether Transaction</a></li>
      </ul>
    </li>
    <li class="sub-menu">
      <a><i class="fa fa-group"></i><span> IPFS Admin</span><span class="arrow"></span>
      </a>
      <ul class="sub">
        <li><a ui-sref="app.ipfs">IPFS</a></li>
      </ul>
    </li>
    <!--<li>
      <a ui-sref="app.login"><i class="fa fa-address-card-o"></i><span>Login Page</span>
      </a>
    </li>-->
  </ul>
</aside>

<section id="main-content">
  <div class="wrapper">
    <div ui-view='content'></div>
  </div>
  <footer class="text-center">
    <p>©️ 2017 BJUT-SSE 北工大区块链小组</p>
  </footer>
</section>
