<body>
<section class="profile-nav alt green-border ">
  <section class="wrapper ">
    <div>
      <section class="panel col-lg-10 col-lg-offset-1">
        <header class="panel-heading">
          <h4>Task List</h4>
        </header>
        <br>
        <div class="form-group">
          <div class="col-lg-10">
            <button type="submit" class="btn btn-success col-lg-2" ng-click="getTasks()">Show</button>
          </div>
        </div>
        <br><br>
        <table class="table table-striped border-top">
          <thead>
          <tr>
            <th style="width:8px;"><input type="checkbox" class="group-checkable"/></th>
            <th>Task Name</th>
            <th class="hidden-phone">Type List</th>
            <th class="hidden-phone">Introduction</th>
            <th class="hidden-phone">Provider</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd gradeX" ng-repeat="taskSet in taskSets">
            <td><input type="checkbox" class="checkboxes" value="1"/></td>
            <td>{{taskSet.taskName}}</td>
            <td class="hidden-phone">
              <p ng-repeat="type in taskSet.types">{{type.key}} => {{type.value}}</p>
            </td>
            <td class="hidden-phone">{{taskSet.introduction}}</td>
            <td class="hidden-phone">{{taskSet.provider}}</td>
            <td class="hidden-phone">{{taskSet.status}}</td>
          </tr>
          </tbody>
        </table>
        <header class="panel-heading"></header>
      </section>
    </div>
  </section>
</section>
</body>
